# IDEs
# Anjuta (gnome IDE)
.anjuta*
# Eclipse
.project
.cproject
.settings/
.metadata/
# VS Code
.vscode/
*.code-workspace
.externalToolBuilders/
.history/
*.vsix

# Common
*~
*.cache
*.log
Debug/
build/
Makefile

# Po
*.Po
po/

# Compiled Object files
ledspicerd
emitter
inputseeker
rotator
processLookup
.dirstamp
.libs/
*.slo
*.lo
*.Plo
*.o
*.out
*.make
*.cmake
**/CMakeFiles/*
CMakeCache.txt
#tests/tests*
ledspicerd.service
ledspicer.pc

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Documentation
doc/

# Packages
*.deb
*.rpm
*.gz*
