#!/usr/bin/make -f

# Enable hardening
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Common CMake options
CMAKE_OPTS = \
	-DCMAKE_BUILD_TYPE=Release \
	-DCMAKE_CXX_FLAGS="-g0 -O3" \
	-DENABLE_PULSEAUDIO=ON \
	-DENABLE_ALSAAUDIO=ON \
	-DENABLE_NANOLED=ON \
	-DENABLE_PACDRIVE=ON \
	-DENABLE_PACLED64=ON \
	-DENABLE_ULTIMATEIO=ON \
	-DENABLE_LEDWIZ32=ON \
	-DENABLE_HOWLER=ON \
	-DENABLE_ADALIGHT=ON

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_OPTS)

override_dh_install:
	dh_install
	# Install udev rules to main package
	install -Dm644 data/21-ledspicer.rules \
		debian/ledspicer/lib/udev/rules.d/21-ledspicer.rules

override_dh_installsystemd:
	dh_installsystemd --name=ledspicerd
