[Unit]
Description=LEDSpicer LEDs manager deamon.
ConditionPathExists=%%replace path%%/%%replace package%%

[Service]
Type=forking
ExecStart=%%replace path%%/%%replace package%%
KillMode=process

[Install]
WantedBy=multi-user.target
